/* CSS declarations go here */
body {
  background: #f7a724;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.3em;
  color: #ffffff;
  text-align: center;
}

.pineapple {
  background: url("http://allthingsjill.com/big-pineapple.png") top center no-repeat;
  background-size: 98%;
  height: 100%;
  width: 100%;
  position: absolute;
  top:0%;
  left: 1%;
  z-index: -1;
}

.form-bg {
  background: url("http://allthingsjill.com/zoom-bg.png") center center no-repeat;
  background-size: 100%;
  position: absolute;
  top:0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.accept_disclaimer_button {
  position: absolute;
  bottom:0%;
  left: 0%;
  width: 100%;
  height: 14.8%;
  background: #429f46;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.9em;
  color: #ffffff;
  text-align: center;
  display: table;
  text-vertical-align: middle;
}

.disclaimer-body {
  background: #f7a724;
  position: absolute;
  top:0%;
  left: 0%;
  height: 100%;
  width: 100%;

}

.header-privacy {
  position: absolute;
  top:0%;
  left: 0%;
  width: 100%;
  height: 28%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.9em;
  color: #e55000;
  text-align: center;
  display: table;
}

.header-details {
  position: absolute;
  top:0%;
  left: 0%;
  width: 100%;
  height: 28%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.9em;
  background: #429f46;
  color: #ffffff;
  text-align: center;
  display: table;
}

.form-details {
  position: absolute;
  top:35%;
  left: 10%;
  width: 80%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: .9em;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.ready_to_go_button {
  position: absolute;
  bottom:0%;
  left: 0%;
  width: 100%;
  height: 14.8%;
  background: #f7a724;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.9em;
  color: #e55000;
  text-align: center;
  display: table;
  background: #429f46;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.9em;
  color: #ffffff;
  text-align: center;
  display: table;
  text-vertical-align: middle;
}

.privacy-text {
  position: absolute;
  top: 20%;
  left: 23%;
  width: 54%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: .9em;
  color: #353535;
  text-align: left;
  display: table;
}

p {
  display: table-cell;
  vertical-align: middle;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.8em;
  text-align: center;
  line-height: 100%;
  display: inline;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: .85em;
  color: #ffffff;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1em;
  text-align: center;
  line-height: 100%;
  display: inline;
}

#top-left {
  display: table;
  position: absolute;
  top:0%;
  left: 0%;
  width: 50%;
  height: 33.3%;
  background: #f7a724;
}

#top-right {
  display: table;
  position: absolute;
  top:0%;
  left: 50%;
  width: 50%;
  height: 33.3%;
  background: #f37e16;
}

#mid-left {
  display: table;
  position: absolute;
  top:33.4%;
  left: 0%;
  width: 50%;
  height: 33.3%;
  background: #429f46;
}

#mid-right {
  display: table;
  position: absolute;
  top:33.4%;
  left: 50%;
  width: 50%;
  height: 33.3%;
  background: #66b96a;
}

#low-left {
  display: table;
  position: absolute;
  top:66.7%;
  left: 0%;
  width: 50%;
  height: 33.3%;
  background: #f37e16;
}

#low-right {
  display: table;
  position: absolute;
  top:66.7%;
  left: 50%;
  width: 50%;
  height: 33.3%;
  background: #e55000;
}

.notification {
  display: table;
  position: absolute;
  top:10px;
  right: 10px;
  width: 28px;
  height: 28px;
  background: #323232;
  border-radius: 50%;
  color: #ffffff;
}

.button {
  position: absolute;
  bottom:0%;
  left: 0%;
  width: 100%;
  height: 14.8%;
  background: #f7a724;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.9em;
  color: #e55000;
  text-align: center;
  display: table;
  text-vertical-align: middle;
}

.title {
  position: absolute;
  bottom:14.7%;
  left: 0%;
  width: 100%;
  height: 10%;
  background: #429f46;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 2.8em;
  color: #f7a724;
  text-align: center;
  display: table;
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
