<template name="Activation">
  <div class=header-details><div class='center-text'> <p><h3> ENTER YOUR</h3><br><h1>DETAILS</h1></p></div></div>
  <div class=form-bg>
      <div class=form-details id='activation_form'>
       <form>
          Name<br>
          <input type="text" name="name"><br><br><br>
          NHS Number<br>
          <input type="text" name="nhs_number"><br><br><br>
          Activation Number<br>
          <input type="text" name="activation_code"><br><br><br>
          <button type='submit' class='ready_to_go_button'>READY TO GO</button>
        </form>
      </div>
   </div>
</template>
