<template name="Activation">
  <H1>Enter Your Details</H1>
  <form class="activation_form">
    <input type="text" class="form-control" name="first_name" placeholder="first name" />
    <input type="text" class="form-control" name="second_name" placeholder="second name" />
    <input type="text" class="form-control" name="nhs_number" placeholder="NHS Number" />
    <input type="text" class="form-control" name="activation_code" placeholder="enter activation code..." />
    <button type='submit' id='activation_button'>Submit</button>
  </form>
</template>
