<template name="Disclaimer">
  <div id='disclaimer-body'>
  <div class=header-privacy><div class='center-text'> <p><h3> A CHAT ABOUT</h3><br><h1>PRIVACY</h1></p></div></div>
    <div class=privacy-text>
      This app will have your personal medical record on it. It will only be stored on this phone.
      <br><br>
      Any responsibility for the information is yours. If you want to protect access to this app with a password, you can add one in the settings.
      <br><br>
      To download your medical data into the app, enter the activation code which your doctor will give you.
    </div>
 <button class="accept_disclaimer_button">SET UP NOW</button>
</div>

</template>
