<template name='Medication_Add'>
  <H1>Add New Medicine</H1>
  <form>
    <input type='text' name='medication_name'>
    <input type='text' name='medication_frequency'>
    <input type='text' name='medication_date'>
    <input type='submit' name='update_medicine'>
  </form>
  <button class='information_button'><i class="fa fa-info-circle" aria-hidden="true"></i></button>
  <button class='medication_reminder_button'><i class="fa fa-bell" aria-hidden="true"></i></button>
  <button class='return_button'>Return</button>
</template>
