<template name="Menu">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
  </head>
  <form class="menu_form">
	<div class="top-left">
      <!-- The following div is hard-coded as a demo.  This should
      ultimately be added as required in Javascript, if there
      are any applicable notifications. -->
      <div class="notification"><h2>2</h2></div>

      <p>DIAGNOSES</p>
    </div>
	<div class="top-right">
      <p>MEDICATION</p>
    </div>
	<div class="mid-left">
      <p>RESULTS</p>
    </div>
	<div class="mid-right">
      <p>EMERGENCY<br>PROTOCOL</p>
    </div>
	<div class="low-left">
      <p>KEY<br>CONTACTS</p>
    </div>
	<div class="low-right">
      <p>APPOINTMENTS</p>
    </div>
  </form>
</template>
